
// colors
$black: #1E2122;
$grey: #C8C3BC;
$grey2: #988F81;
$grey3: #303030;
$grey4: #242729;
$white: #FFFFFF;
$white2: #E8E6E3;
$blue: #78B5D8;
$blue2: #A7BBDF;
$blue3: #272C46;
$blue4: #0D779C;
$green:#66ff33;

// fonts
$primary-font: 'Poppins', sans-serif;
$secundary-font: 'Montserrat', sans-serif;

// responsive
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;



