@use 'abstracts/abstracts';
@use 'base/base';
@use 'layout/layout';
@use 'components/components';
@use 'pages/pages';
@use 'themes/themes';

@use 'abstracts/variables' as v;
@use 'abstracts/mixins' as m;

h1 {
    margin-top: 42px;
    text-align: center; // left | right | center | justify | start | end
    font-weight: 800; // 200, 300, normal(400), 500, 600, bold(700), 800, 900
    font-size: 32px;
    line-height: 40px;
    color: v.$grey;
}

h2 {
    margin: 80px 0px 20px 0px;
    text-align: center; // left | right | center | justify | start | end
    font-weight: 700; // 200, 300, normal(400), 500, 600, bold(700), 800, 900
    font-size: 27px;
    line-height: 34px;
    color: v.$grey;
}

h3 {
    text-align: center; // left | right | center | justify | start | end
    font-weight: 800; // 200, 300, normal(400), 500, 600, bold(700), 800, 900
    font-size: 17px;
    line-height: 24px;
    color: v.$grey;
}

h4 {
    text-align: center; // left | right | center | justify | start | end
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: 600; // 200, 300, normal(400), 500, 600, bold(700), 800, 900
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 1.12px;
    color: v.$grey;
}

p {
    margin: 10px auto 0px auto;
    text-align: center; // left | right | center | justify | start | end
    font-size: 15px;
    line-height: 28px;
    color: v.$grey2;
    max-width: 500px;

    @include m.breakpoint(tablet) {
        margin: 24px auto 0px auto;
    }

    @include m.breakpoint(desktop) {
        max-width: 800px;
    }
}

a {
    text-align: center; // left | right | center | justify | start | end
    font-size: 15px;
    line-height: 28px;
    color: v.$grey2;
}
