@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.about {

    .team__flex {
        @include m.breakpoint(desktop) {
            display: flex;
            justify-content: space-between; // flex-start(por defecto) | flex-end | center | space-between | space-around | space-evenly
            align-items: center; // stretch(por defecto) | flex-start | flex-end | center | baseline      

            max-width: 1100px;
            margin: 0px auto 0px auto;
        }

        .team__member{
            margin: 28px auto 0px auto;
            border: 1px solid v.$blue3;
            border-radius: 10px;
            padding: 28px 22px 38px 22px;
            max-width: 600px;

            @include m.breakpoint(desktop) {
                width: 360px;
                height: 322px;
            }
        
            .avatar {     
                margin: 0px auto;
                display: flex;
                align-items: center; // stretch(por defecto) | flex-start | flex-end | center | baseline
                justify-content: center;
                gap: 0px;

                img {
                    width: 56px;
                    @include m.breakpoint(tablet) {
                        width: 80px;
                    }
                    @include m.breakpoint(desktop) {
                        width: 90px;
                    }
                }

                .team__header {
                    margin-left: 6px;

                    .team__name {
                        text-align: left; // left | right | center | justify | start | end
                        font-weight: 800; // 200, 300, normal(400), 500, 600, bold(700), 800, 900
                        font-family: v.$secundary-font;
                        font-size: 17px;
                        line-height: 24px;
                        color: v.$blue2;
                    }

                    .team__role {
                        text-align: left; // left | right | center | justify | start | end
                        margin-top: 10px;
                        text-transform: uppercase;
                        font-weight: 600; // 200, 300, normal(400), 500, 600, bold(700), 800, 900
                        font-family: v.$secundary-font;
                        font-size: 12px;
                        line-height: 9px;
                        letter-spacing: 1.12px;
                        color: v.$blue;
                    }
                }
            }
        }
    }
}