
@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.hero-video {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;

	video {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: -2;
	}

	// Texto sobre el video
	.hero-text {
		position: relative;
		z-index: -1;
		margin: 320px auto 0px auto;
		padding: 0 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		color: v.$white2;

		h1 {
			margin: 0 auto;
			display: block;
			padding: 3px 15px;
			
			background-color: rgba(0, 0, 0, 0.9);
			font-weight: 800; // 200, 300, normal(400), 500, 600, bold(700), 800, 900
			font-size: 13px;
			line-height: 16px;
			font-style: italic;
			color: v.$white2;
			@include m.breakpoint(tablet) {
				background-color: rgba(0, 0, 0, 0.5);
				font-size: 18px;
				line-height: 22.5px;
			}
		}

		.hero-subtitle {
			margin: 24px auto 0px auto;
			display: block;
			text-transform: uppercase;
			font-weight: 900; // 200, 300, normal(400), 500, 600, bold(700), 800, 900
			font-style: italic;
			font-size: 22px;
			line-height: 30.8px;
			letter-spacing: 2px;
			color: v.$white2;
			text-shadow: 2px 2px 4px black; // x y blur color
			
			.highlight {
				color: v.$blue;
			}

			@include m.breakpoint(tablet) {
				font-size: 39px;
				line-height: 46.8px;
			}
			@include m.breakpoint(desktop) {
				max-width: 1200px;
				margin: 24px auto 0px auto;
			}
		}

		.hero-subtitle2 {
			margin: 16px auto 0px auto;
			display: block;
			font-weight: 500; // 200, 300, normal(400), 500, 600, bold(700), 800, 900
			font-size: 16px;
			line-height: 24px;
			color: v.$white2;
			text-shadow: 2px 2px 4px black; // x y blur color
			
			@include m.breakpoint(tablet) {
				font-size: 23px;
				line-height: 34.5px;
			}
			@include m.breakpoint(desktop) {
				max-width: 1200px;
				margin: 24px auto 0px auto;
			}
		}
	}

	.video-desktop {
		display: none;
	}

	.video-mobile {
		display: block;
	}

	@include m.breakpoint(desktop) {
		.video-mobile {
			display: none;
		}

		.video-desktop {
			display: block;
		}
	}

	.down-icon {
		margin: 180px auto 0px auto;
		display: block;
		text-align: center; // left | right | center | justify | start | end

		.down-icon-mobile {
			color: v.$white;
			@include m.breakpoint(tablet) {
				display: none;
			}
		}

		.down-icon-desktop {
			color: v.$white;
			display: none;
		
			@include m.breakpoint(tablet) {
				margin-top: 200px;
				display:inline-block;
			}
			@include m.breakpoint(desktop) {
				margin-top: 70px;
			}
		}
	}
}
