
@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;


.section-flex {
    @include m.breakpoint(tablethorizontal) {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }

    @include m.breakpoint(desktop) {
        max-width: 1100px;
        margin: 0 auto;
    }

    .articulo {
        margin: 40px auto 0;
        border: 2px solid v.$grey4;
        max-width: 500px;

        display: flex;
        flex-direction: column;

        @include m.breakpoint(tablethorizontal) {
            max-width: 450px;
        }

        @include m.breakpoint(desktop) {
            max-width: 500px;
        }

        .article-padding {
            padding: 20px 40px 0;

            figure {
                margin-top: 20px;
            }
        }

        > a {
            margin-top: auto;
        }
    }
}


