@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.contact-page {
    background-color: v.$black;

    @include m.breakpoint(tablethorizontal) {
        margin-right: 50vw;
    }

    .contact-page-container {
        max-width: 510px;
        margin: 0 auto;
        padding: 0 32px;
        position: relative;
    }

    // Header
    .site-header {
        margin: 0px auto 0px auto;
        padding: 0px;

        .menu {
            display: flex;
            justify-content: center;
        }

        .logo img {
            padding: 30px 0px;
            width: 320px;
            max-width: 100%;
            height: auto;
        }
    }

    .contact-content {
        margin-top: 40px;
    }

    // Formulario
    .contact-form-container {

        h1 {
            margin-top: 0px;
            text-align: left; // left | right | center | justify | start | end
            font-weight: 700; // 200, 300, normal(400), 500, 600, bold(700), 800, 900
            font-size: 18px;
            line-height: 32px;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        .input-wrapper {
            margin-top: 15px;
            display: flex;
            flex-direction: column;

            label {
                font-size: 14px;
                margin-bottom: 6px;
                color: v.$grey;
            }

            input,
            textarea {
                background-color: v.$grey3;
                border: 1px solid v.$grey4;
                border-radius: 8px;
                padding: 12px;
                font-size: 14px;
                color: v.$grey2;
                outline: none;
            }
        }
    }

    // Mapa
    .contact-map {
        margin-top: 32px;
        width: 100%;
        height: 300px;
        filter: grayscale(100%);
        transition: filter 0.3s ease;

        &:hover {
            filter: grayscale(0%);
        }

        iframe {
            width: 100%;
            height: 100%;
            border: 0;
            border-radius: 8px;
        }

        @include m.breakpoint(tablethorizontal) {
            position: fixed;
            top: 0;
            right: 0;
            width: 50vw;
            height: 100vh;
            margin-top: 0;

            iframe {
                height: 100%;
                border-radius: 0;
            }
        }
    }
}
